.theme {

    -fx-background-color:
            radial-gradient(
                    center 50% +10%,
                    radius 160%,
                    derive(gray, 55%) 20%,
                    derive(orange, -10%) 55%
            );
}

#btn{

    -fx-background-color:
            radial-gradient(
                    center 50% -40%,
                    radius 180%,
                    erive(gray, -10%) 20%,
                    derive(orange, 55%) 55%
            );
}


.text-area {
    /*-fx-background-color: rgba(53, 89, 119, 0.4);*/

    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.transparentBGs {
    -fx-background-color: transparent;
}

.tree-cell {

    -fx-font: 12px Tahoma;
    -fx-background-color: transparent;
}

#toolPane, #treePane, #tablePane {
    -fx-padding: 0;
    -fx-border-style: solid outside;
    -fx-border-width: 2;
    -fx-border-insets: 0;
    -fx-border-radius: 4;
    -fx-border-color: blue;
}

#basePane {
    -fx-padding: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 5;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-color: blue;
}
